/* Feature Box
---------------------*/
.feature-box-1 a {
  color: #00509d;
  text-decoration: none;
}

.feature-box-1:hover a {
  color: #10451d;
  text-decoration: none;
}

.feature-box-1:hover a:hover {
  text-decoration: underline;
}
.feature-box-1 {
  padding: 32px;
  box-shadow: 0 0 20px rgb(240, 240, 240);
  margin: 15px 0;
  position: relative;
  z-index: 1;
  border-radius: 16px;
  overflow: hidden;
  -moz-transition: ease all 0.35s;
  -o-transition: ease all 0.35s;
  -webkit-transition: ease all 0.35s;
  transition: ease all 0.35s;
  top: 0;
}

.feature-box-1 * {
  -moz-transition: ease all 0.35s;
  -o-transition: ease all 0.35s;
  -webkit-transition: ease all 0.35s;
  transition: ease all 0.35s;
}

.feature-box-1 .icon {
  width: 70px;
  height: 70px;
  line-height: 70px;
  background: #333333;
  color: #ffffff;
  text-align: center;
  border-radius: 50%;
  margin-bottom: 22px;
  font-size: 27px;
}

.feature-box-1 .icon i {
  line-height: 70px;
}

.feature-box-1 h5 {
  color: black;
  font-weight: 600;
}

.feature-box-1 p {
  margin: 0;
}

.feature-box-1:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: auto;
  right: 0;
  border-radius: 16px;
  width: 0;
  background: #ade8f4;
  z-index: -1;
  -moz-transition: ease all 0.35s;
  -o-transition: ease all 0.35s;
  -webkit-transition: ease all 0.35s;
  transition: ease all 0.35s;
  border: none;
}

.feature-box-1:hover {
  top: -5px;
}

.feature-box-1:hover h5 {
  color: black;
}

.feature-box-1:hover p {
  color: rgba(255, 255, 255, 0.8);
}

.feature-box-1:hover:after {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  left: 0;
  right: auto;
  border:1px solid black;
}

.section {
  padding: 100px 0;
  position: relative;
}

.section-title {
  padding-bottom: 45px;
}

.section-title h2 {
  font-weight: 700;
  color: black;
  font-size: 45px;
  margin: 0 0 15px;
  border-left: 5px solid black;
  padding-left: 15px;
}

.my-div {
  font-weight: bold;
  font-size: xx-large;
}

.feature-box-1:hover .my-div {
  color: black;
}

/* Profile Card Container */
.profile-card {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px 0px;
}

.profile-card:hover {
  transform: translateY(-10px);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 20px 0px;
}

/* Profile Image */
.profile-img {
  border: 3px solid #333333;
  object-fit: cover;
  height: 150px;
  width: 150px;
  background-color: #fafafa;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
}

.profile-img:hover {
  transform: scale(1.1); /* Zoom effect on hover */
}

/* Profile Name */
.profile-name {
  font-family: "Quicksand", sans-serif;
  margin-top: 20px;
  font-size: 1.1rem;
  font-weight: bold;
  text-align: center;
  color: #333;
  transition: color 0.3s ease-in-out;
}

.profile-name:hover {
  color: #f39c12; /* Change color on hover */
}

/* Icon Button Styling */
.profile-icons {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.icon-button {
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

.icon-button:hover {
  transform: scale(1.1);
  color: #f39c12;
}